In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from hmmlearn import hmm
import string
from gensim import corpora
from gensim.utils import simple_preprocess
from utils import prep_text, vec_translate, prep_data

In [11]:
data = pd.read_csv("../merged_summary_topics.csv")
new_data = pd.DataFrame(index=['One', 'Two', 'Three'])

In [50]:
def prepare(filename, columns_to_drop=None):
    data = pd.read_csv(filename)
    if columns_to_drop == None:
        columns_to_drop = [column for column in data.columns if column in ['Month_letter', 'Month', 'Kicker', 'Unnamed: 0']]
    data.drop(columns=columns_to_drop, inplace=True)
    
    #find the list of total topics
    #topic_list = [column for column in data.columns if column not in ['Year', 'Month_letter', 'Speaker', 'Title', 'File', 'Kicker', 'Month', 'Unnamed: 0', 'topoic_lists']]

    def talks_func(column):
        return data[column == 1.0].index.tolist()
    
    #get a list of talks indices for each topic and make it a new dataframe
    talks_per_topic = data.apply(talks_func, axis=0).to_frame()
    #rename the column to clarify
    talks_per_topic.rename(columns = {0:'List of Talks'}, inplace=True)
    
    #create a mask to get rid of row values that are not topics
#     print(talks_per_topic['List of Talks'])
#     mask = len(talks_per_topic['List of Talks']) > 0
#     print(mask)
#     talks_per_topic = talks_per_topic[mask]

    talks_per_topic.drop(index=['Year', 'Speaker', 'Title', 'File', 'topic_lists'], inplace=True)
    return talks_per_topic

In [51]:
a = prepare("../merged_summary_topics.csv")
a

                                                         List of Talks
Aaronic Priesthood    [2871, 2896, 2898, 2969, 3159, 3200, 3377, 3409]
Adam and Eve                       [767, 1248, 1699, 2082, 2157, 3206]
Articles of Faith                          [61, 394, 1944, 2377, 3080]
Atonement            [0, 295, 352, 356, 420, 526, 645, 951, 969, 10...
Bible                             [1774, 1885, 2609, 2637, 2818, 2942]
...                                                                ...
worship              [41, 80, 142, 1445, 1454, 1461, 1485, 1689, 17...
worthiness           [310, 591, 632, 739, 776, 1265, 1317, 1323, 13...
young adults                                                    [3226]
young single adults                                             [3195]
youth                [18, 36, 38, 50, 70, 89, 152, 153, 164, 180, 1...

[298 rows x 1 columns]