In [62]:
import pandas as pd
import numpy as np

In [63]:
data = pd.read_csv('event_time.csv', header=0, index_col=0)
apostles = pd.read_csv('apostleCallingYear.csv', header=0, index_col=0)

In [64]:
data

,Year,Month,Speaker,Title,File,Kicker,Time,Event
1,1942,A,Heber J. Grant,Personal Testimony of the Lord’s Providence,data/1.txt,NaN,3871,1
10,1942,A,LeGrand Richards,Leadership in the Aaronic Priesthood,data/10.txt,NaN,1516,0
100,1943,O,"J. Reuben Clark, Jr.",Untitled,data/100.txt,NaN,637,0
1000,1959,A,Harold B. Lee,"The Gospel, a Solid Wall of Truth",data/1000.txt,NaN,1825,1
1001,1959,A,David O. McKay,Training of Youth,data/1001.txt,NaN,3073,1
...,...,...,...,...,...,...,...,...
995,1959,A,Stephen L Richards,What It Means To Be a Christian,data/995.txt,NaN,1888,1
996,1959,A,Henry D. Taylor,Gratitude,data/996.txt,NaN,1126,1
997,1959,A,S. Dilworth Young,Heed the Whisperings of the Spirit,data/997.txt,NaN,643,1
998,1959,A,Sterling W. Sill,Show Us the Father,data/998.txt,NaN,1446,1
999,1959,A,Thorpe B. Isaacson,Responsibility for the Guidance of Youth,data/999.txt,NaN,1705,1

In [65]:
apostles.rename(columns={'Year':'Called_Year'}, inplace=True)
#there is an extra space in the index that needs to be removed
names = apostles.index
twelve = names.to_numpy()
twelve = np.array([person[:-1] for person in twelve])
apostles.set_index(twelve, inplace=True)

In [66]:
total = data.merge(apostles, how='left', left_on='Speaker', right_index=True)
total['Called_Year'] = total['Called_Year'].fillna(value=np.inf)

In [67]:
total

,Year,Month,Speaker,Title,File,Kicker,Time,Event,Called_Year
1,1942,A,Heber J. Grant,Personal Testimony of the Lord’s Providence,data/1.txt,NaN,3871,1,1882.0
10,1942,A,LeGrand Richards,Leadership in the Aaronic Priesthood,data/10.txt,NaN,1516,0,1952.0
100,1943,O,"J. Reuben Clark, Jr.",Untitled,data/100.txt,NaN,637,0,inf
1000,1959,A,Harold B. Lee,"The Gospel, a Solid Wall of Truth",data/1000.txt,NaN,1825,1,1941.0
1001,1959,A,David O. McKay,Training of Youth,data/1001.txt,NaN,3073,1,1906.0
...,...,...,...,...,...,...,...,...,...
995,1959,A,Stephen L Richards,What It Means To Be a Christian,data/995.txt,NaN,1888,1,inf
996,1959,A,Henry D. Taylor,Gratitude,data/996.txt,NaN,1126,1,inf
997,1959,A,S. Dilworth Young,Heed the Whisperings of the Spirit,data/997.txt,NaN,643,1,inf
998,1959,A,Sterling W. Sill,Show Us the Father,data/998.txt,NaN,1446,1,inf
999,1959,A,Thorpe B. Isaacson,Responsibility for the Guidance of Youth,data/999.txt,NaN,1705,1,inf

In [68]:
is_apostle = [True if value >= call else False for value, call in zip(total['Year'], total['Called_Year'])]
total['Apostle'] = is_apostle

In [70]:
total.drop(columns='Called_Year', inplace=True)
total

,Year,Month,Speaker,Title,File,Kicker,Time,Event,Apostle
1,1942,A,Heber J. Grant,Personal Testimony of the Lord’s Providence,data/1.txt,NaN,3871,1,True
10,1942,A,LeGrand Richards,Leadership in the Aaronic Priesthood,data/10.txt,NaN,1516,0,False
100,1943,O,"J. Reuben Clark, Jr.",Untitled,data/100.txt,NaN,637,0,False
1000,1959,A,Harold B. Lee,"The Gospel, a Solid Wall of Truth",data/1000.txt,NaN,1825,1,True
1001,1959,A,David O. McKay,Training of Youth,data/1001.txt,NaN,3073,1,True
...,...,...,...,...,...,...,...,...,...
995,1959,A,Stephen L Richards,What It Means To Be a Christian,data/995.txt,NaN,1888,1,False
996,1959,A,Henry D. Taylor,Gratitude,data/996.txt,NaN,1126,1,False
997,1959,A,S. Dilworth Young,Heed the Whisperings of the Spirit,data/997.txt,NaN,643,1,False
998,1959,A,Sterling W. Sill,Show Us the Father,data/998.txt,NaN,1446,1,False
999,1959,A,Thorpe B. Isaacson,Responsibility for the Guidance of Youth,data/999.txt,NaN,1705,1,False

In [71]:
#total.to_csv('total_summary.csv')

At first everything was Nan, and this is my thought process to figure out why that was happening. It ended up that there was an extra space in the apostles dataframe index names.

In [61]:
total['Called_Year'].isna().sum()

0

In [15]:
speakers = data['Speaker'].unique()

In [35]:
twelve = apostles.index

In [36]:
twelve = twelve.to_numpy()
twelve = np.array([person[:-1] for person in twelve])

In [37]:
twelve_set = set(twelve)

In [38]:
total['Called_Year'].isna().sum()

5365

In [39]:
speaker_set = set(speakers)

In [40]:
twelve_set.intersection(speaker_set)

{'Adam S. Bennion',
 'Albert E. Bowen',
 'Boyd K. Packer',
 'Bruce R. McConkie',
 'Charles A. Callis',
 'D. Todd Christofferson',
 'Dale G. Renlund',
 'Dallin H. Oaks',
 'David A. Bednar',
 'David B. Haight',
 'David O. McKay',
 'Dieter F. Uchtdorf',
 'Ezra Taft Benson',
 'Franklin D. Richards',
 'Gary E. Stevenson',
 'George Albert Smith',
 'George F. Richards',
 'George Q. Morris',
 'Gerrit W. Gong',
 'Gordon B. Hinckley',
 'Harold B. Lee',
 'Heber J. Grant',
 'Henry B. Eyring',
 'Henry D. Moyle',
 'Howard W. Hunter',
 'Hugh B. Brown',
 'James E. Faust',
 'Jeffrey R. Holland',
 'John A. Widtsoe',
 'Joseph B. Wirthlin',
 'Joseph F. Merrill',
 'Joseph F. Smith',
 'Joseph Fielding Smith',
 'L. Tom Perry',
 'LeGrand Richards',
 'Marion G. Romney',
 'Marvin J. Ashton',
 'Matthew Cowley',
 'N. Eldon Tanner',
 'Neal A. Maxwell',
 'Neil L. Andersen',
 'Quentin L. Cook',
 'Richard G. Scott',
 'Richard L. Evans',
 'Richard R. Lyman',
 'Robert D. Hales',
 'Ronald A. Rasband',
 'Rudger Clawson',
 'Russell M. Nelson',
 'Spencer W. Kimball',
 'Thomas S. Monson',
 'Ulisses Soares'}

In [41]:
twelve

array(['Thomas B. Marsh', 'David W. Patten', 'Brigham Young',
       'Heber C. Kimball', 'Orson Hyde', 'William E. McLellin',
       'Parley P. Pratt', 'Luke S. Johnson', 'William Smith',
       'Orson Pratt', 'John F. Boynton', 'Lyman E. Johnson',
       'John E. Page', 'John Taylor', 'Wilford Woodruff',
       'George Albert Smith', 'Willard Richards', 'Lyman Wight',
       'Amasa M. Lyman', 'Ezra T. Benson', 'Charles C. Rich',
       'Lorenzo Snow', 'Erastus Snow', 'Franklin D. Richards',
       'George Q. Cannon', 'Joseph F. Smith', 'Brigham Young Jr.',
       'Albert Carrington', 'Moses Thatcher', 'Francis M. Lyman',
       'John Henry Smith', 'George Teasdale', 'Heber J. Grant',
       'John W. Taylor', 'Marriner W. Merrill', 'Anthon H. Lund',
       'Abraham O. Woodruff', 'Rudger Clawson', 'Reed Smoot',
       'Hyrum Mack Smith', 'Charles W. Penrose', 'George F. Richards',
       'Orson F. Whitney', 'David O. McKay', 'Anthony W. Ivins',
       'Joseph Fielding Smith', 'James E. Talmage', 'Stephen L. Richards',
       'Richard R. Lyman', 'Melvin J. Ballard', 'John A. Widtsoe',
       'Joseph F. Merrill', 'Charles A. Callis', 'Alonzo A. Hinckley',
       'Albert E. Bowen', 'Slyvester Q. Cannon', 'Harold B. Lee',
       'Spencer W. Kimball', 'Ezra Taft Benson', 'Mark E. Peterson',
       'Matthew Cowley', 'Henry D. Moyle', 'Delbert L . Stapley',
       'Marion G. Romney', 'LeGrand Richards', 'Adam S. Bennion',
       'Richard L. Evans', 'George Q. Morris', 'Hugh B. Brown',
       'Howard W. Hunter', 'Gordon B. Hinckley', 'N. Eldon Tanner',
       'Thomas S. Monson', 'Boyd K. Packer', 'Marvin J. Ashton',
       'Bruce R. McConkie', 'L. Tom Perry', 'David B. Haight',
       'James E. Faust', 'Neal A. Maxwell', 'Russell M. Nelson',
       'Dallin H. Oaks', 'M. Russell Ballard, Jr.', 'Joseph B. Wirthlin',
       'Richard G. Scott', 'Robert D. Hales', 'Jeffrey R. Holland',
       'Henry B. Eyring', 'Dieter F. Uchtdorf', 'David A. Bednar',
       'Quentin L. Cook', 'D. Todd Christofferson', 'Neil L. Andersen',
       'Ronald A. Rasband', 'Gary E. Stevenson', 'Dale G. Renlund',
       'Gerrit W. Gong', 'Ulisses Soares'], dtype='<U23')